.item-con {
	display: flex;
	align-items: center;
	padding: 0 50rpx;
	margin-bottom: 30rpx;
	    	
    &.active {
        color: #8dc63f;
        .num{
        	color: #8dc63f;
        }
    }
	    	
	.item-name {
	    	width: 450rpx;
	    	font-size: 32rpx;
	    	padding-bottom: 10rpx;
	}
	    	
	.item-img {
	    width: 50rpx;
	    height: 50rpx;
	    margin: 0 20rpx;
	}
	    		
	.text-color {
	    color: #6b6b6b;
	}
	    	
}