.item-con {
	display: flex;
	align-items: center;
	padding: 0 37.5rpx;
	margin-bottom: $uni-spacing-col-lg;
	    	
    &.active {
        color: $uni-color-success;
        .num{
        	color: $uni-color-success;
        }
    }
	    	
	.item-name {
	    	width: 450rpx;
	    	font-size: $uni-font-size-base;
	    	padding-bottom: $uni-spacing-col-sm;
	}
	    	
	.item-img {
	    width: 50rpx;
	    height: 50rpx;
	    margin: 0 $uni-spacing-row-base;
	}
	    		
	.text-color {
	    color: $uni-text-color;
	}
	    	
}